<footer id="footer">
	<div class="container">
	  <div class="footer-widgets-wrap clearfix">
		  <div class="col-md-3 col-off-set-1">
			  <div class="widget clearfix">
				  <img src="/static/media/logo_small.png" alt="" class="footer-logo" width="200px">
			  </div>
		  </div>
		  <div class="col-md-8">
			  <div class="widget clearfix" style="text-align: justify; ">
				  <p> Intégrale ÉTS est un regroupement étudiant favorisant l'intégration et l'épanouissement de la communauté LGBTA (lesbienne, gaie, bisexuelle, transgenre et alliée) au sein de l'École de technologie supérieure.
<div class="clear"></div>
	Le but du site web n'est pas de faire la promotion des orientations sexuelles, mais bien de combattre les stéréotypes et l'homophobie. Les préférences sexuelles font partie de la vie privée des gens, mais l'homophobie demeure une préoccupation sociale et publique. De ce fait, le site web a pour but d'informer et de sensibiliser la communauté de l'ÉTS face aux préjugés.</p>
			  </div>
		  </div>
	  </div>
	</div>
</footer>